@import url(https://fonts.googleapis.com/css?family=Spectral|Rubik);

body {
	font-family: Open Sans, Helvetica, Trebuchet MS, sans-serif;

	margin: 0;
	/* font-size: 16px; */
}
  
h1 {
	font-family: Spectral, Georgia, serif;
	font-size: 4.5em;
}

h2 {
	font-family: Spectral, Georgia, serif;
	font-size: 2.5em;
}

h4 {
	font-family: Spectral, Georgia, serif;
	font-size: 1.5em;
}

.h4-regular {
	font-size: 1.5em;
}

h5 {
	font-family: Spectral, Georgia, serif;
	font-size: 1.25em;
}

div {
	position: relative;
}

.bg-img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 100%;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

	/* Image blur */
	filter: blur(5px) brightness(85%);
} 

.bg-text {
	width: 80%;
	margin: 15% auto;
	border: 3px solid #f1f1f1;

	/* Black w/opacity/see-through */
	/* background-color: rgba(0,0,0,0.4); */
	color: white;
	text-align: center;
	padding: 20px;
}

.text-shadow {
	text-shadow: 2px 2px 3px;
}

.head {
	position: sticky;
	top: 0;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
}

video {
	display: block;
	margin: auto;
}

.ppl {
	/* background-color: bisque; */
	margin: 15% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.person {
	margin: 15pt;
	/* border-style: dotted; */
}

.person img {
	position: relative;
	align: center;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px;
}

.person p {
	color: white;
	text-align: center;
	font-size: 1.25em;
	/* text-shadow: 0px 0px 2px; */

	padding: 5px 0px;
	background-color: rgba(0,0,0,0.1);
	/* border-style: dotted;
	border-color: rgba(0,0,0,0.1); */
}



/* @media (max-width: 1024px) {
	.bg-img {
		filter: blur(5px) brightness(85%);
	}
} */